{% extends 'base.html.twig' %}

{% block body %}
<div class="main">
<ul>
    {% for product in products %}
        <li>{{ product.getName|e }} ({{ product.getId|e }}) {{ product.getValue|e }}</li>
    {% endfor %}
</ul>
</div>

{% endblock %}