{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}
<div class="main">
    <h1>JSON Router</h1>
    <ul>
        <li><a href="{{ path('quotes') }}">Quotes</a></li>
    </ul>

</div>
{% endblock %}