{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
<div class="main">
    <h1>Report</h1>
    <p>All my reports.</p>
    <h2 id="kmom01">Kmom01</h2>
    <p>•	Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</p>
    <p>Det enda jag har gjort tidigare med objektorientering är oopython-kursen vi läste tidigare den 
        här terminen. Jag tyckte då att det var svårt så det blir spännande att se hur det går den här gången.</p>
    <p>•	Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att 
        kunna komma igång och skapa sina första klasser?</p>
    <p>I PHP kan ett objekt skapas utan att tillhöra en klass specifik klass, det finns en standard klass som skapar
         ett tomt objekt. För att nå ett objekts properties så används ”->”. Properties kan både vara publika och privata.
          Metoderna som hör till klassen kan också vara publika eller privata. För att sätta propeties på ett objekt som 
          skapas i en klass kan ”->” användas om propertien är publik, annars måste metoder skrivas i klassen som kan ändra 
          på objektets properties.</p>
    <p>•	Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</p>
   <p>Delar av kodbasen känna igen från tidigare kurser men med några nya element. Det kommer ta några kursmoment innan allt 
    känns bekvämt att jobba med. Att jobba med twig och templates har jag gjort tidigare i designkursen så det känns igen. 
    Det är många mappar att hålla reda på men det kommer ge med sig under kursens gång skulle jag tro.</p>
    <p>•	Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är 
        det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner
         mer värdefulla.</p>
    <p>Jag tycker det är kul att jobba med templates. Jag tycker det underlättar koden och ger ett bra helhetsintryck och
         man behöver bara ändra på ett ställe i stället för flera. Vi har jobbat med twig tidigare och det förekommer i 
         den här kursen också, så det ser jag framemot att jobba med mer. </p>
         <p>Att jobba med exceptions är också spännande eftersom det förekommer ofta och mycket särskilt när allt är nytt.
             Det tycker jag är spännande att jobba med och ser framemot att göra enhetstester och jobba med egna exceptions.</p>
    <p>•	Vilken är din TIL för detta kmom?</p>
    <p>Mitt TIL för den här veckan är att jobba med symfony som jag inte gjort tidigare. Det gick bar att sätta upp allt
         och få det att funka. Att jobba med router fungerade bra och det kändes igen från oopython-kursen. </p>
    <h2 id="kmom02">Kmom02</h2>
    <p>Kmom02</p>
    <h2 id="kmom03">Kmom03</h2>
    <p>Kmom03</p>
    <h2 id="kmom04">Kmom04</h2>
    <p>Kmom04</p>
    <h2 id="kmom05">Kmom05</h2>
    <p>Kmom05</p>
    <h2 id="kmom06">Kmom06</h2>
    <p>Kmom06</p>
    <h2 id="kmom10">Kmom10</h2>
    <p>Kmom10</p>
</div>

{% endblock %}