{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
<div class="main">
    <h1>Report</h1>
    <p>All my reports.</p>
    <h2 id="kmom01">Kmom01</h2>
    <p>•	Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</p>
    <p>Det enda jag har gjort tidigare med objektorientering är oopython-kursen vi läste tidigare den 
        här terminen. Jag tyckte då att det var svårt så det blir spännande att se hur det går den här gången.</p>
    <p>•	Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att 
        kunna komma igång och skapa sina första klasser?</p>
    <p>I PHP kan ett objekt skapas utan att tillhöra en klass specifik klass, det finns en standard klass som skapar
         ett tomt objekt. För att nå ett objekts properties så används ”->”. Properties kan både vara publika och privata.
          Metoderna som hör till klassen kan också vara publika eller privata. För att sätta propeties på ett objekt som 
          skapas i en klass kan ”->” användas om propertien är publik, annars måste metoder skrivas i klassen som kan ändra 
          på objektets properties.</p>
    <p>•	Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</p>
   <p>Delar av kodbasen känna igen från tidigare kurser men med några nya element. Det kommer ta några kursmoment innan allt 
    känns bekvämt att jobba med. Att jobba med twig och templates har jag gjort tidigare i designkursen så det känns igen. 
    Det är många mappar att hålla reda på men det kommer ge med sig under kursens gång skulle jag tro.</p>
    <p>•	Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är 
        det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner
         mer värdefulla.</p>
    <p>Jag tycker det är kul att jobba med templates. Jag tycker det underlättar koden och ger ett bra helhetsintryck och
         man behöver bara ändra på ett ställe i stället för flera. Vi har jobbat med twig tidigare och det förekommer i 
         den här kursen också, så det ser jag framemot att jobba med mer. </p>
         <p>Att jobba med exceptions är också spännande eftersom det förekommer ofta och mycket särskilt när allt är nytt.
             Det tycker jag är spännande att jobba med och ser framemot att göra enhetstester och jobba med egna exceptions.</p>
    <p>•	Vilken är din TIL för detta kmom?</p>
    <p>Mitt TIL för den här veckan är att jobba med symfony som jag inte gjort tidigare. Det gick bar att sätta upp allt
         och få det att funka. Att jobba med router fungerade bra och det kändes igen från oopython-kursen. </p>
    <h2 id="kmom02">Kmom02</h2>
    <p>•	Förklara kort de objektorienterade konstruktionerna arv, komposition, interface och trait och hur de används i PHP.</p>
    <p>Ett arv sker mellan en färälder-klass och en barn-klass. Barnet ärver förälderns alla funktioner och parametrar. Barnet 
        kan sedan bygga vidare med egna parametrar och funktioner, barnet kan också skriva över förälderns funktioner och ersätta
         dem med egna.</p>
         <p>En komposition är en relation där en klass innehåller objekt från en annan klass. Det är en ”har en”-relation,
             en klass har ett eller flera objekt från en annan klass.</p>
        <p>Interface är ett slag kontrakt där en klass lovar att innehålla funktioner som namnges i interfacet. Det blir en
             mall och ett sätt att veta att en klass verkiligen innehåller det som den ska.</p>
        <p>Ett trait är som ett litet funktionspaket som kan importeras och läggas till i en klass. Den kan användas av 
            flera klasser och kan användas som ett subsitut till en andra förälder-klass.</p>
    <p>•	Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, vilken 
        förbättringspotential ser du i din koden och dina klasser?</p>
    <p>Jag löste uppgiften med hjälp av tre klasser. Först hade jag missat att jag skulle ha en komposition så jag hade löst
         stora delar av uppgiften utan DeckOfCards. Men eftersom jag redan hade skrivit koden så var det enkelt att stoppa in
          den i en egen klass. Då blev rout-koden mycket kortare och snyggare. Jag är nöjd med mina klasser men jag hade problem
           att få till draw/:number och få till posten. Routen funkar men länkarna dit fick jag inte till och var tvungen att
            hårdkoda på sina ställen. Det vill jag åtgärda men känner att jag måste lämna in uppgiften nu.</p>
    <p>•	Vilka är dina reflektioner så här långt med att jobb i Symfony med applikationskod enligt MVC?</p>
        <p>Jag tycker det är klurigt och kul när det går bra, men svårt att felsöka ibland när det är så många delar. Det är 
            på många ställen det kan gå fel, men error-sidan man får upp är ganska tydlig vart felet ligger. </p>
    <p>Att jobba med klasser tycker jag är går bra, det känns igen från oopython och det fungerar än så länge på 
        liknande sätt. Koden blir snyggare och det fungerar bra att få till bra arv och funktioner som fungerar att kalla
         från klasserna. Man ska bara komma ihåg att importera dem ordentligt där man har tänkt att använda dem.</p>
    <p>•	Vilken är din TIL för detta kmom?</p>
        <p>Min TIL för den här veckan är att läsa igeom uppgifterna ordentligt och skriva ner dem själv. Nu börjar
             uppgifterna bli så stora så jag märker att jag lätt missar vissa punkter i kraven och måste gå tillbaka
              och göra om saker. Annars har jag lärt mig mer om klasser i PHP oh hur de funkar och skiljer sig från 
              språk vi har kodat objekt i tidigare.</p>
    <h2 id="kmom03">Kmom03</h2>
    <p>
        •	Berätta hur det kändes att modellera ett kortspel med flödesdiagram och psuedokod. Var det något som du tror stödjer
         dig i din problemlösning och tankearbete för att strukturera koden kring en applikation?
        </p>
    <p>Det kändes bra att jobba med flödesschema och pseudokod. Det kändes som att arbetet blev mer genomarbetat och planerat. 
        För mig hjälpte det arbetet och jag kunde se vart jag behövde lägga till något tidigare i koden för att få något senare
         att funka. Det känns som ett väldigt bra sätt att arbeta särskilt om man ska jobba flera med samma projekt så alla får
          ett hum om hur koden ska struktureras och fungera. </p>
    <p>•	Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, vilken förbättringspotential
         ser du i din koden, dina klasser och applikationen som helhet?</p>
    <p>Min lösning tycker jag blev enkel och bra. Den är inte så krånglig utan den fungerar som den ska utan krusiduller. Kanske 
        har jag lagt för mycket kod i kontrollerna men det mesta sker i klasserna. Controllern sköter det övergripande. Kanske kunde
         jag ha jobbat mer med flashmeddelanden, nu blev det en del if-statser i templatesfilerna som fungerar bra, men inte lika snyggt.</p>
    <p>•	Vilken är din känsla för att koda i ett ramverk som Symfony, så här långt in i kursen?</p>
    <p>Det är skönt att ha en ramverk att rätta sig efter och att det finns mycket support och manualer att leta i. Jag tycker det är 
        bra att lära sig koda på olika sätt och tänka på nya sätt så nya ramverk är kul. Ibland är det svårt att hålla isär vilka regler
        som hör till vilka ramverk. Men det går snabbt att leta reda på rätt sätt att skriva.</p>
    <p>•	Vilken är din TIL för detta kmom?</p>
    <p>TIL för den här veckan var att arbeta med ett mer ordentligt flödesschema och pseudokod. Jag tyckte det var ett bra sätt att tänka
         igenom koden innan jag började skriva och det gjorde arbetet lättare att börja med. För större projekt är det verkligen något jag
          kommer göra innan jag börja koda. Även om det tar lite tid så sparar det mycket tid i början av arbetet. </p>
    <p>Även att jobba med så hårda linters var nytt för mig. Jag kunde inte ta hand om allt. Vissa saker förstod jag inte hur jag skulle
         fixa och lintern blev inte nöjd med de lösningar jag kom på. Det är något jag får titta närmare på nästa vecka.</p>
    <h2 id="kmom04">Kmom04</h2>
    <p>•	Berätta hur du upplevde att skriva kod som testar annan kod med PHPUnit och hur du upplever phpunit rent allmänt.</p>
    <p>Jag tycker det var roligt att skriva testfall. De första blev kanske lite enkla och basic, men ju mer kod desto fler olika 
    utfall behövdes testas. Det var bra och tydligt att kunna se vart i koden som testerna jag gjort applicerades och vart det saknades
     tester. Väldigt skönt när allt blev grönt och gick som det skulle. <br>Jag tror att det är bra att testa sin kod på det här sättet,
      jag tycker jag skrev bättre kod och kunde ta bort onödiga if-statser som var svåra och testa och ändå aldrig skulle inträffa.</p>
    <p>•	Hur väl lyckades du med kodtäckningen av din kod, lyckades du nå mer än 90% kodtäckning?</p>
    <p>På klasserna i Card och Dice fick jag 100% täckning, jag provade inte att ge mig på controllers den här gången. Jag gjorde många små
     testfall för varje klass och tog dem uppifrån och ner. Blev det rätt objekt som skapades, fick det rätt värde osv. tills jag hade täckt
      in allt. I några testfall bakade jag in två asserts för att vara lite effektiv- Jag använde mig av mockning som fungerade bra och jag
       kunde kolla de utfall som jag behövde.</p>
    <p>•	Upplever du din egen kod som “testbar kod” eller finns det delar i koden som är mer eller mindre testbar och finns det saker som 
    kan göras för att förbättra kodens testbarhet?</p>
    <p>Min kod är inte så avancerad och komplex så den var lätt att testa. En funktion i CardHand var väldigt stor och komplex med många 
    if-statser som jag hade skrivit förra veckan. Den kunde jag nu ta ner till en mycket enklare nivå och lintern blev också nöjd med resultatet.
     Nu körde jag väldigt ytligt testande och provade inga extremfall utan bara att koden fungerade som jag tänkt.</p>
    <p>•	Valde du att skriva om delar av din kod för att förbättra den eller göra den mer testbar, om så berätta lite hur du tänkte.</p>
    <p>Ja, jag valde att skriva om en funktion i CardHand som summerade korthanden. Jag hade lagt till många if-statser som gjorde koden mycket
     komplex. Jag visste att den blev lite krånglig redan förra veckan men hann inte fixa till den då. Nu med phpunit kunde jag snabbt se när jag
      började testa den vart jag kunde skära bort stora delar av koden och göra den mycket enklare och smidigare och den funktionen försvann från
       lintern den här veckan.</p>
       <p>•	Fundera över om du anser att testbar kod är något som kan identifiera “snygg och ren kod”.</p>
    <p>Ja, jag tror att man ser sin kod lite med andra ögon när man testar den. Saker som kändes logiska när den skrevs känns kanske inte lika bra
     i testfasen. Mycket kanske man kan skala bort för att det inte går att testa för att det heller aldrig kommer inträffa. Eller så måste man
      tänka om helt i strukturen för att lätt kunna testa alla möjliga utfall i koden.</p>
    <p>•	Vilken är din TIL för detta kmom?</p>
    <p>Min TIL för den här veckan är att jobba lite mer med testning och testning i php och med php unit. Det blev väldigt tydligt när koden antingen 
    var grön eller röd och vilka områden jag lyckats pricka in med mina tester. </p>
    <h2 id="kmom05">Kmom05</h2>
    <p>Kmom05</p>
    <h2 id="kmom06">Kmom06</h2>
    <p>Kmom06</p>
    <h2 id="kmom10">Kmom10</h2>
    <p>Kmom10</p>
</div>

{% endblock %}