{% extends 'base.html.twig' %}

{% block title %}Bibliotek{% endblock %}

{% block body %}


<div class="main">
    <h1>Välkommen till biblioteket</h1>

    <p>
    <ul>
    <li><a href="{{ path('library_show_all') }}">Här kan du se alla böcker</a></li>
    <li><a href="{{ path('library_add') }}">Lägg till bok i biblioteket</a></li>
    </ul>


</div>
{% endblock %}
