{% extends "base.html.twig" %}

{% block title %}Alla böcker{% endblock %}

{% block body %}
<div class="main">
<table class="show-library">
{% for book in books %}
<tr>
<td><img class="thumbnail" src="{{book.image}}"></img></td>
<td><a href="{{ path('library_show_details', {id: book.id }) }}">{{book.name}} av {{book.author}}</a></td>
</tr>
{% endfor %}
</table>

</div>
{% endblock %}