{% extends "base.html.twig" %}

{% block title %}Me{% endblock %}

{% block body %}
<div class="main">
<table>
<tr>
<td>{{book.name}}</td>
<td>{{book.author}}</td>
<td>{{book.isbn}}</td>
<td>{{book.image}}</td>
</tr>
</table>

<a href="{path('update_book', {id: book.id })}">Uppdatera information</a>
<a href="{path('delete_book', {id: book.id })}">Radera bok</a>

</div>
{% endblock %}