{% extends "base-project.html.twig" %}

{% block title %}Om projektet{% endblock %}

{% block body %}
<div class="main">
    <h2>Om projektet</h2>
<p>Det här är ett projektarbete i kursen Objektorienterade webbteknologier (mvc) som en del i 
    Webbprogrammeringsprogrammet vid Blekinge tekniska högskola. Projektet har inriktningen 
    "Visualisera indikatorer för hållbarhet" där jag har valt att jobba mot det globala målet 
    14, hav och marina resurser. </p>
<p>Projektet består av en databas med statistik rörande skräp på Sveriges stränder kring 
    Östersjön och Kattegatt. Datan i databasen presenteras sedan i diagram på webbplatsen.</p>

</div>

</div>
{% endblock %}