{% extends "base-project.html.twig" %}

{% block title %}Om projektet{% endblock %}

{% block body %}
<div class="main">
    <h2>Om projektet</h2>
<p>Det här är ett projektarbete i kursen Objektorienterade webbteknologier (mvc) som en del i 
    Webbprogrammeringsprogrammet vid Blekinge tekniska högskola. Projektet har inriktningen 
    "Visualisera indikatorer för hållbarhet" där jag har valt att jobba mot det globala målet 
    14, hav och marina resurser. </p>
<p>Projektet består av en databas med statistik rörande skräp på Sveriges stränder kring 
    Östersjön och Kattegatt. Datan i databasen presenteras sedan i diagram på webbplatsen.</p>
<p>Jag valde att arbeta med mål 14 då jag precis flyttat närmare havet igen och ville se lite 
    statisk hur det står till med östersjön. Nedskräpningen var det första jag fastnade för och där det fanns tydlig statistik.</p>
    <a href="{{ asset('img/tim-mossholder-qq-8dpdlBsY-unsplash.jpg') }}">
        <img class="center-img" src="{{ asset('img/tim-mossholder-qq-8dpdlBsY-unsplash.jpg') }}" alt="" width="500">
    </a>
    <p><span class="img-text">Photo by <a href="https://unsplash.com/@timmossholder?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
        Tim Mossholder</a> on <a href="https://unsplash.com/photos/white-and-gray-bird-on-water-during-daytime-qq-8dpdlBsY?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a></span></p>
  
</div>

</div>
{% endblock %}