{% extends "base-project.html.twig" %}

{% block title %}Projekt{% endblock %}

{% block body %}
<div class="main">
    <h2>Välkommen!</h2>
    <p>Sverige har satt upp egna miljömål gällande marina miljöer och följer
 även de globala målen. För att nå dessa mål så har statistik tagits fram för att kunna mäta vissa parametrar och se trender. <br>
 Så här lyder riksdagens definition av miljömålet:
</p>

    <h3>Hav i balans samt levande kust och skärgård</h3>
    <p><span class="quote"> "Västerhavet och Östersjön ska ha en långsiktigt hållbar produktionsförmåga och den biologiska mångfalden ska bevaras.
     Kust och skärgård ska ha en hög grad av biologisk mångfald, upplevelsevärden samt natur- och kulturvärden. Näringar, 
     rekreation och annat nyttjande av hav, kust och skärgård ska bedrivas så att en hållbar utveckling främjas. Särskilt 
     värdefulla områden ska skyddas mot ingrepp och andra störningar." </span></p>
    

<p>Bland de globala målen är det nummer 14 som rör marina miljöer. Den här webbsidan fokuserar på delmål 14.1.</p>

   <h3>14.1 Minska föroreningarna i haven </h3> 
<p><span class="quote">"Till 2025 förebygga och avsevärt minska alla slags föroreningar i havet, i synnerhet från landbaserad verksamhet, 
    inklusive marint skräp och tillförsel av näringsämnen."</span></p>
<p>Just nu når vi inte målen som regeringen satt upp. Det finns många problem kring nedskräpning och förorening i 
    de marina miljöerna som kräver mycket arbete.</p>
</div>

</div>
{% endblock %}