{% extends "base-project.html.twig" %}

{% block title %}Projekt{% endblock %}

{% block body %}
<div class="main">
    <h2>Välkommen till startsidan</h2>
<p>Här startar projektet</p>

</div>

</div>
{% endblock %}